<app-header [title]="pageTitle" [page]="page" [backLink]="backLink"></app-header>

<div class="item-add-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-8">
        <div class="content">
          <div class="row">
            <div class="col-9">
              <input class="new-vote-input form-control" for="new-vote" #voteName placeholder="Task Adı" (keyup.enter)="onEnter($event); voteName.value=''"/>
            </div>
            <div class="col-3">
              <button class="d-block add-button btn btn-secondary" (click)="add(voteName.value); voteName.value=''">
                <svg aria-hidden="true" data-icon="plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" class=""></path></svg>
                <span>Ekle</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-notification *ngIf="isNotification" [options]="notificationOptions"></app-notification>
