@import "src/assets/css/variable";

.item-add-page {
  .content {
    .new-vote-input {
      padding: 10px 15px;
    }

    .add-button {
      padding: 10px 15px;

      span {
        vertical-align: middle;
      }

      svg {
        width: 25px;
        height: 25px;
        vertical-align: middle;
        padding-right: 8px;
      }
    }
  }

  hr{
    margin: 30px 0;
    height: 1px;
    background-color: $green;
    border: none;
  }
  .totalCount{
    font-weight: 500;
  }
}
