@import "../../../assets/css/forms";

.item-add-page {
  .content {
    .new-vote-input {
      padding: 10px 15px;
    }

    .add-button {
      padding: 10px 15px;

      span {
        vertical-align: middle;
      }

      svg {
        width: 25px;
        height: 25px;
        vertical-align: middle;
        padding-right: 8px;
      }
    }
  }

  hr{
    background-color: $green;
  }
  .totalCount{
    font-weight: 500;
  }
  @media screen and (max-width: 480px){
    .content {
      .col-9{
        width: 100%;
        margin-bottom: 20px;
      }
      .col-3{
        width: 100%;
      }
    }
  }
}
