@import "button";
@import "grid";

.justify-content-center {
  justify-content: center !important;
}

.d-block {
  display: block !important;
  width: 100%;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.d-flex {
  display: flex !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.mb-0{
  margin-bottom: 0!important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.text-center {
  text-align: center!important;
}
.text-start {
  text-align: left!important;
}
.text-end {
  text-align: right!important;
}

hr{
  margin: 25px 0;
  height: 1px;
  background-color: $gray-600;
  border: none;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid $gray-400;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &:focus {
    color: $gray-800;
    background-color: $white;
    border-color: $cyan;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }

  @media (prefers-reduced-motion: reduce) {
    & {
      transition: none;
    }
  }

  &[type=file] {
    overflow: hidden;
  }

  &[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer;
  }

  &::-webkit-date-and-time-value {
    height: 1.5em;
  }

  &::-moz-placeholder {
    color: $gray-600;
    opacity: 1;
  }

  &::placeholder {
    color: $gray-600;
    opacity: 1;
  }

  &:disabled, .form-control[readonly] {
    background-color: $gray-200;
    opacity: 1;
  }
}

.error-msg {
  margin: 10px 0;
  display: block;
  color: $red;
  padding-left: 5px;
}
