<div class="container">
  <div class="row  justify-content-center">
    <div class="col-sm-12 col-lg-8">
      <div class="row justify-content-center">
        <div class="col-sm-12">
          <div class="top-bar">
            <ul>
              <li>
                <svg data-icon="user" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><use xlink:href="#user"/></svg>
                <span>{{user.username}}</span>
              </li>
              <li>
                <a (click)="logout()" class="btn-link">
                  <svg data-icon="sign-out-alt" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><use xlink:href="#sign-out-alt"/></svg> Çıkış yap
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" *ngIf="page === 'home'">
        <div class="col-sm-12">
          <div class="header">
            <h2 class="title">{{title}}</h2>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <a routerLink="/my-voted" class="btn btn-success myVotedBtn"  [ngClass]="isGuest ? 'disabled' : ''">
                <svg class="icon-check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><use xlink:href="#check"/></svg>
                <span>Oyladıklarım</span>
              </a>
              <div class="info" *ngIf="isGuest">
                *<b>User</b> ve <b>Admin</b> kullanıcılarına açıktır.
              </div>
            </div>
            <div class="col-sm-6">
              <a routerLink="/item-add" class="btn btn-primary mb-0 newBtn" [ngClass]="isAdmin ? '' : 'disabled'">
                <svg class="icon-plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><use xlink:href="#plus"/></svg>
                <span>Yeni Ekle</span>
              </a>
              <div class="info" *ngIf="!isAdmin">
                *Sadece <b>Admin</b> kullanıcılarına açıktır.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" *ngIf="page !== 'home'">
        <div class="col-sm-12">
          <div class="header">
            <h2 class="title">{{title}}</h2>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <a *ngIf="backLink && page !== 'home'" routerLink="{{backLink}}" class="btn btn-secondary back-link">
                <svg class="icon-arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><use xlink:href="#arrow-left"/></svg>
                <span>Ana Sayfa</span>
              </a>
            </div>
            <div class="col-sm-4">
              <a routerLink="/my-voted" class="btn btn-success myVotedBtn" [ngClass]="isAdmin || isUser ? '' : 'disabled'">
                <svg class="icon-check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><use xlink:href="#check"/></svg>
                <span>Oyladıklarım</span>
              </a>
              <div class="info" *ngIf="isUser">
                *<b>User</b> ve <b>Admin</b> kullanıcılarına açıktır.
              </div>
            </div>
            <div class="col-sm-4">
              <a routerLink="/item-add" class="btn btn-primary mb-0 newBtn" [ngClass]="isAdmin ? '' : 'disabled'">
                <svg class="icon-plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><use xlink:href="#plus"/></svg>
                <span>Yeni Ekle</span>
              </a>
              <div class="info" *ngIf="!isAdmin">
                *Sadece <b>Admin</b> kullanıcılarına açıktır.
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>


<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="sign-out-alt" fill="currentColor">
    <path fill="currentColor" d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z" class=""></path>
  </symbol>
  <symbol id="user" fill="currentColor">
    <path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z" class=""></path>
  </symbol>
  <symbol id="check" fill="currentColor">
    <path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path>
  </symbol>
  <symbol id="plus" fill="currentColor">
    <path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path>
  </symbol>
  <symbol id="arrow-left" fill="currentColor">
    <path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z" class=""></path>
  </symbol>
</svg>
