<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-8">
      <div class="header">
        <h2 class="title">{{title}}</h2>
      </div>
      <div class="d-grid" *ngIf="page === 'home'">
        <a routerLink="/item-add" class="btn btn-primary newBtn">
          <svg aria-hidden="true" data-icon="plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z" class=""></path></svg>
          <span>Yeni Ekle</span>
        </a>
      </div>
      <div *ngIf="backLink && page !== 'home'" routerLink="{{backLink}}" class="btn btn-primary back-link">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-arrow-left fa-w-14"><path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z" class=""></path></svg>
        <span>Geri Dön</span>
      </div>
    </div>
  </div>
</div>
