@import "../../../../assets/css/variable";

.top-bar {
  margin-top: 30px;
  text-align: right;

  ul {
    padding: 0;

    li {
      display: inline-block;
      padding: 10px;

      a {
        cursor: pointer;
        vertical-align: middle;
        padding-left: 8px;
        text-decoration: none;
      }

      span {
        vertical-align: middle;
        padding-left: 8px;
        color: $gray-600;
      }

      [data-icon="user"] {
        color: $gray-600;
      }

      svg {
        width: 16px;
        height: 16px;
        vertical-align: middle;
      }
    }
  }
}

.header {
  background-color: $teal;
  padding: 30px 40px;
  color: white;
  text-align: center;
  border-bottom: 5px solid $gray-400;
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .title {
    margin: 0;
  }
}

.info {
  font-size: 75%;
  margin-top: 3px;
}

.btn {
  padding: 10px 15px;
  width: 100%;
  position: relative;

  span {
    vertical-align: middle;
  }

  svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    padding-right: 8px;
  }

  @media (max-width: 576px) {
    & {
      margin-bottom: 15px;
    }
  }
}

