@import "../../../assets/css/variable";

.votes {
  margin: 0;
  list-style-type: none;
  padding: 0;
  position: relative;

  li {
    position: relative;
    list-style-type: none;
    background: #e9ecef;
    font-size: 18px;
    transition: 0.2s;
    padding: 40px 10px 40px 0;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;

    &:nth-child(odd) {
      background: $gray-100;
    }

    &:hover {
      background: $gray-400;

      .delete {
        display: block;
      }
    }

    input {
      appearance: none;
      display: none;
    }

    label {
      font-size: 1rem;
      padding: 13px 15px 13px 20px;
      flex: 8;
    }

    .vote-box {
      display: inline-block;
      vertical-align: middle;
      float: right;
      margin-right: 15px;
      flex: 4;
      text-align: right;
      min-width: 120px;
    }

    .icons {
      position: absolute;
      right: 0;
      top: 0;
      width: 85px;

      .delete, .edit {
        display: inline-block;
        cursor: pointer;
        margin-left: 5px;
        padding: 0;
        line-height: 39px;
        width: 36px;
        height: 36px;
        text-align: center;

        svg {
          width: 16px;
          color: #fff;
        }

        &:hover {
          color: $danger;
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    li {
      .delete {
        display: block;
        color: $gray-700;
      }
    }
  }
  @media screen and (max-width: 480px) {
    li {
      .vote-box {
        margin-right: 40px;
        flex: 6;
        min-width: 100px;
      }

      label {
        flex: 6;
        font-size: 14px;
        padding: 13px 10px 13px 10px;
      }
    }
  }
}

.sort {
  .btn {
    padding: 10px 15px;
    width: 100%;
    background-color: $gray-400;
    margin: 0 0 20px 0;

    svg {
      width: 25px;
      height: 25px;
      vertical-align: middle;
      padding-right: 8px;
    }

    span {
      vertical-align: middle;
    }

    &:hover {
      background-color: $gray-300;
    }

    &.active {
      background-color: $secondary;
      color: $white;
    }
  }

  @media screen and (max-width: 420px) {
    .btn {
      font-size: 14px;
      padding: 10px 5px;

      svg {
        width: 22px;
        height: 22px;
        padding-right: 8px;
      }
    }
  }
}

.footer {
  background-color: #20c997;
  padding: 15px;
  color: white;
  text-align: center;
  border-top: 5px solid #ced4da;
  border-radius: 0 0 10px 10px;
  margin: 25px 0;

  &:before {
    content: "";
    display: table;
    clear: both;
  }

  .totalCount {
    padding: 15px;
    text-align: right;
    font-weight: 500;
    font-size: 16px;
    color: $white;
    transition: $anim;
  }

  .cs-pagination {
    padding: 0;
    text-align: left;

    ::ng-deep ul {
      padding: 0;

      & * {
        color: $white !important;
      }
    }
  }
}
