@import "../../../assets/css/variable";

.votes {
  margin: 0;
  list-style-type: none;
  padding: 0;
  position: relative;

  li {
    position: relative;
    list-style-type: none;
    background: #e9ecef;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
    padding: 20px 15px;

    &:nth-child(odd) {
      background: $gray-100;
    }

    &:hover {
      background: $gray-400;
    }

    input {
      appearance: none;
      display: none;
    }

    label {
      font-size: 1rem;
    }

    .vote-box {
      vertical-align: middle;
      text-align: right;
      display: block;
    }


  }

  @media screen and (max-width: 575px) {
    li {
      label {
        margin-bottom: 20px;
        display: block;
      }
      .vote-box {
        text-align: left;
      }
    }
  }
  @media screen and (max-width: 480px) {

  }
}

.sort {
  .btn {
    padding: 10px 15px;
    width: 100%;
    background-color: $gray-400;
    margin: 0 0 20px 0;

    svg {
      width: 25px;
      height: 25px;
      vertical-align: middle;
      padding-right: 8px;
    }

    span {
      vertical-align: middle;
    }

    &:hover {
      background-color: $gray-300;
    }

    &.active {
      background-color: $secondary;
      color: $white;
    }
  }

  @media screen and (max-width: 420px) {
    .btn {
      font-size: 14px;
      padding: 10px 5px;

      svg {
        width: 22px;
        height: 22px;
        padding-right: 8px;
      }
    }
  }
}

.footer {
  background-color: #20c997;
  padding: 15px;
  color: white;
  text-align: center;
  border-top: 5px solid #ced4da;
  border-radius: 0 0 10px 10px;
  margin: 25px 0;

  &:before {
    content: "";
    display: table;
    clear: both;
  }

  .totalCount {
    padding: 15px;
    text-align: right;
    font-weight: 500;
    font-size: 16px;
    color: $white;
    transition: $anim;
  }

  .cs-pagination {
    padding: 0;
    text-align: left;

    ::ng-deep ul {
      padding: 0;

      & * {
        color: $white !important;
      }
    }
  }
}
